<div class="container">
    <div id="intro-img">
        <img src="/imgs/blahblahblah" alt="Marvellous">
    </div>
    <div id="heroOrVillain">
        <p>Are you a hero or villain?</p>
        <p>Take this marvellous quiz and find out!</p>
    </div>
    <form id="form" action="/result" method="post">
        
    </form>
</div>